
@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>
<div class="container bg-light">
    <p>Type of Passes:</p>
</div>
<!--Plan: Display types of passes. Use rotary selectors and descriptions change dynamically-->
<!--brief descriptions (outlines?)-->
