@model OrderModel
@{
    ViewData["Title"] = "Order";
}

<body>
    @using (Html.BeginForm("Order", "Buying", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <div class="form-group">
            <div>Order for @User.Identity.Name</div>
            <span asp-validation-for="UserId" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FareId">Available Fares: </label>
            <select asp-for="FareId" class="form-control">
                @foreach (FareModel fare in ViewData["NewFare"] as List<FareModel>)
                {
                    <option value="@fare.Id">@fare.Fare - @Html.DisplayFor(fromModel => fare.Price)</option>
                }
            </select>
            <span asp-validation-for="FareId" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label>Purchase Date</label>
            <input asp-for="PurchaseDate" class="form-control" />
            <span asp-validation-for="PurchaseDate" class="alert-danger"></span>
        </div>
        <br />
        <br />
        <div class="form-group">
            <input type="submit" value="Checkout" class="btn btn-primary btn-lg" />
        </div>
    }
    <div>
        <a asp-action="PastOrders">View Past Orders</a>
    </div>
</body>


<!--Plan: Display types of passes. Use rotary selectors and descriptions change dynamically-->
<!--
User's name
Option to add funds to account with field
Confirm Order button
    Pop up confirmation of order
    If no payment info is stored, then ask for payment info
    Order button
-->
