
@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>
<div class="container bg-light">
    <p>Type of Passes:</p>
</div>
<!--Plan: Display types of passes. Use rotary selectors and descriptions change dynamically-->
<!--
User's name
Radio list of available passes with price
Option to add funds to account with field
Confirm Order button
    Pop up confirmation of order
    If no payment info is stored, then ask for payment info
    Order button
-->
