@model OrderModel
@{
    ViewData["Title"] = "Receipt";
}

<body>
    <h1>Receipt</h1>
    <div class="container">
        <div class="row">@Model.Id</div>
        <div class="row">Fare for @User.Identity.Name</div>
        <div class="row">@Model.Fare.Fare</div>
        <div class="row">@Model.PurchaseDate.Date</div>
        <div class="row">QR Code here</div>
    </div>
</body>