@model OrderModel
@{
    ViewData["Title"] = "Receipt";
    var fareDict = ViewData["AllFares"] as Dictionary<int, string>;
}

<body>
    <h1>Receipt</h1>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col">Confirmation Number:</div>
                <div class="col">@Model.Id</div>
            </div>
            <div class="row">
                <div class="col">Fare:</div>
                @if (fareDict.TryGetValue(Model.FareId, out string name))
                {
                    <div class="col">@name</div>
                }
                else
                {
                    <div>Error finding fare name</div>
                }
            </div>
            <div class="row">
                <div class="col">Purchase Date:</div>
                <div class="col">@Model.PurchaseDate.ToShortDateString()</div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <a asp-action="PastOrders">View Past Orders</a>
</body>