@model OrderModel
@{
    ViewData["Title"] = "Receipt";
}

<body>
    <h1>Receipt</h1>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col">Confirmation Number:</div>
                <div class="col">@Model.Id</div>
            </div>
            <div class="row">
                <div class="col">@Model.Fare.Fare for</div>
                <div class="col">@User.Identity.Name</div>
            </div>
            <div class="row">
                <div class="col">Date Valid</div>
                <div class="col">@Model.PurchaseDate</div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <a asp-action="PastOrders">View Past Orders</a>
</body>