
@{
    ViewData["Title"] = "Alerts";
}
<!--Admins should be able to change alerts-->
<h1>Current Alerts</h1>
<ul>
    <li>Bus 330 is down for maintenance at stop 8</li>
    <li>Bus 242 late due to accident on highway 34</li>
</ul>
<br />
<h1>Event Related Alerts</h1>
<ul>
    <li>Tuesday 8/14: School starts! Expect traffic and plan accordingly.</li>
    <li>Saturday 8/18: Prep for detour around the Marathon.</li>
</ul>

