@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>
<p>Contact us with any questions!</p>
<ul>
    <li><button>Email</button></li>
    <li><button>Twitter</button></li>
    <li><button>Facebook</button></li>
    <li><button>(555) 555-5555</button></li>
</ul>
