@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>
<p>Contact us with any questions!</p>
<ul>
    <li>Email</li>
    <li>Twitter</li>
    <li>Facebook</li>
    <li>(555) 555-5555</li>
</ul>

