@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>
<p>Contact us with any questions!</p>
<ul>
    <li class="btn btn-primary">Email</li>
    <li class="btn btn-primary">Twitter</li>
    <li class="btn btn-primary">Facebook</li>
    <li class="btn btn-primary">(555) 555-5555</li>
</ul>
