@{
    ViewData["Title"] = "Fares and Passes";
}

<h1>Fares and Passes</h1>
<br />
<br />
<h3>Kids ride free!</h3>
<ul>
    <li>K-12 studends with valid ID</li>
    <li>Children below the age of 10 must be accompanied by someone 12 or older</li>
</ul>
<h3>Military Personnel</h3>
<p>Military personnel in uniform ride free! Acitve-duty military personnel not in uniform qualify for reduced fares with valid military ID.</p>

<h3>Single Ride Service</h3>
<div class="row">
    <table class="table table-bordered table-hover col">
        <tr>
            <td>Single Ride Fare</td>
            <td>$1.25</td>
        </tr>
        <tr>
            <td>Single Reduced Fare</td>
            <td>$0.60</td>
        </tr>
        <tr>
            <td>Disability Access</td>
            <td>$1.75</td>
        </tr>
    </table>
    <div class="col"></div>
</div>

<h3>Day Passes</h3>
<div class="row">
    <table class="table table-bordered table-hover col">
        <tr>
            <td>Single Day Fare</td>
            <td>$2.50</td>
        </tr>
        <tr>
            <td>Reduced Day Pass Fare</td>
            <td>$1.25</td>
        </tr>
        <tr>
            <td>Disability Day Access</td>
            <td>$3.00</td>
        </tr>
    </table>
    <div class="col"></div>
</div>

<h3>Disability Passes</h3>
<div class="row">
    <table class="table table-bordered table-hover col">
        <tr>
            <td>10 Ride Booklet</td>
            <td>$17.50</td>
        </tr>
        <tr>
            <td>Monthly Pass</td>
            <td>$46.50</td>
        </tr>
    </table>
    <div class="col"></div>
</div>