
@{
    ViewData["Title"] = "Fares";
}
<!--Full descriptions-->
<h1>Fares</h1>
<h3>Day Pass</h3>
<ul>
    <li>Info about day pass and price</li>
</ul>

<h3>Week Pass</h3>
<ul>
    <li>Info about week pass and price</li>
</ul>

<h3>Month Pass</h3>
<ul>
    <li>Info about month pass and price</li>
</ul>

<h3>Disability Pass</h3>
<ul>
    <li>Info about disability pass and price</li>
</ul>