
@{
    ViewData["Title"] = "Fares and Passes";
}

<h1>Fares and Passes</h1>
<br />
<br />
<h3>Kids ride free!</h3>
<ul>
    <li>K-12 studends with valid ID</li>
    <li>Children below the age of 10 must be accompanied by someone 12 or older</li>
</ul>
<h3>Single Ride Service</h3>
<div class="row">
    <table class="table table-bordered table-hover col">
        <tr>
            <td>Single Ride Fare</td>
            <td>$1.25</td>
        </tr>
        <tr>
            <td>Single Reduced Fare</td>
            <td>$0.60</td>
        </tr>
        <tr>
            <td>Disability Access</td>
            <td>$1.75</td>
        </tr>
    </table>
    <div class="col"></div>
</div>

<h3>Day Pass</h3>
<ul>
    <li></li>
</ul>

<h3>Week Pass</h3>
<ul>
    <li>Info about week pass and price</li>
</ul>

<h3>Month Pass</h3>
<ul>
    <li>Info about month pass and price</li>
</ul>

<h3>Disability Pass</h3>
<ul>
    <li>Info about disability pass and price</li>
</ul>