
@{
    ViewData["Title"] = "Fares";
}
<!--Full descriptions-->
<h1>Fares and Passes</h1>
<br />
<br />
<h3>Kids ride free!</h3>
<ul>
    <li>K-12 studends with valid ID</li>
    <li>Children below the age of 10 must be accompanied by someone 12 or older</li>
</ul>
<h3>Single Ride Service</h3>
<table>
    <tr><th>Single Ride Fare</th></tr>
    <tr>Use Flexbox here instead</tr>
</table>
<h3>Day Pass</h3>
<ul>
    <li></li>
</ul>

<h3>Week Pass</h3>
<ul>
    <li>Info about week pass and price</li>
</ul>

<h3>Month Pass</h3>
<ul>
    <li>Info about month pass and price</li>
</ul>

<h3>Disability Pass</h3>
<ul>
    <li>Info about disability pass and price</li>
</ul>