@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-xl-1">
                <h1 class="display-4">Welcome</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2>Fares & Passes</h2>
                <p>Choose an option that fits your needs - from a single day ride to 31 day service pass.</p>
                <button>Find Fare Information</button>
            </div>
            <div class="col">
                <h2>Service Alerts</h2>
                <p>Check for detours, delays, and closures.</p>
                <button>Find Service Alerts</button>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col align-items-end align-self-end">
                <h1>Buy your passes online now!</h1>
                <button>Buy online</button>
            </div>
        </div>
    </div>
</div>
