@model RoleLists
@{
    ViewData["Title"] = "Edit Roles";
}

<body>
    <h1>Update Roles</h1>
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("Edit", "Role", FormMethod.Post))
            {

            }
        </div>
    </div>
</body>